/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* components */
@import "components/navbar.css";
@import "components/form.css";
@import "components/filtres.css";
@import "components/cards-section.css";
@import "components/footer.css";
@import "components/defaults.css";

/* RESOLUTION TABLETTE */

@media screen and (min-width: 768px) and (max-width: 1024px) 
{
    /* FILTRES */

    .filtre-margin-right {
        align-items: center;
    }

    .card-filtre {
        align-items: center;
    }

    /* CARDS HEBERGEMENTS */

    .card-grise-hebergement {
        margin-right: 40px;
        width: 100%;
    }

    .cards-hebergement {
        justify-content: space-around;
    }

    .card-hebergement {
        width: 42%;
    }

    /* CARDS POPULAIRES */

    .card-grise-populaire {
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 62px;
        width: 100%;
    }

    .cards-populaire {
        justify-content: space-between;
    }

    .card-populaire {
        width: 100%;
    }

    .titre-populaire {
        justify-content: space-between;
    }

    /* CARDS ACTIVITES */

    .cards-activites-generale {
        justify-content: space-between;
        width: 100%;
        margin-right: 40px;
    }

    .grandes-cards-activites {
        margin-bottom: 26px;
        width: 44%;
    }

    .petites-cards-activites {
        width: 300px;
    }

    /* FOOTER */

    .margin-footer {
        margin-right: 166px;
    }
}

/* RESOLUTION MOBILE */

@media screen and (min-width: 320px) and (max-width: 767px)
{ 
    /* NAVBAR */

    .links-navbar {
        flex-direction: column-reverse;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .links-padding:hover {
        border-bottom: #0065FC solid 3px;
        border-top: none;
    }

    .display-flex {
        justify-content: space-around;
    }

    /* FORM */

    .button-fontawesome {
        position: absolute;
        display: flex;
        background-color: #0065FC;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 19px 20px;
        border-radius: 16px 16px 16px 16px;
        margin-top: -56px;
        margin-left: 252px;
    }

    .button {
        display: none;
    }

    /* FILTRES */

    .card-filtre-mobile {
        margin-top: 16px;
    }

    .display-block-filtre {
        display: block;
    }

    .display-flex-filtre {
        display: flex;
        flex-wrap: wrap;
    }

    .margin-info {
        margin-right: 40px;
        margin-bottom: 16px;
    }

    /* CARDS HEBERGEMENTS ET MOBILES */

    /* CARDS HEBERGEMENTS */

    .card-grise-hebergement-mobile {
        margin: 0px;
        border-radius: 0px;
    }

    .card-hebergement-mobile {
        width: 100%;
        margin-top: 4px;
    }

    .card-hebergement-mobile img {
        object-fit: cover;
    }

    .padding-p-mobile {
        padding-left: 16px;
    }

     /* CARDS POPULAIRES */

    .card-grise-populaire-mobile {
        background-color: white;
        margin: 0px;
        width: 100%;
    }

    .card-grise-populaire-mobile i {
        right: -156px;
        margin-top: 4px;
    }

    .card-populaire-mobile {
        width: 100%;
    }

    /* CARDS ACTIVITES */

    .card-activite-mobile {
        width: 100%;
        height: 192px;
        margin-bottom: 22px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .card-activite-mobile img {
        width: 100%;
        height: 133px;
    }

    /* FOOTER */

    .footer-mobile {
        padding-left: 40px;
        width: 100%;
    }
}