.card-general-filtre {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.display-flex-filtre {
    display: flex;
    flex-wrap: wrap;
}

.card-filtre {
    background-color: white;
    border: #F2F2F2 solid 2px;
    padding: 14px 20px;
    padding-left: 60px;
    border-radius: 30px;
    margin-right: 30px;
    margin-top: 16px;
    position: relative;
}

.icon-rounded {
    border-radius: 50%;
    background-color: #DEEBFF;
    padding: 18px;
    position: absolute;
    top: -3px;
    left: -3px;
    color: #0065FC;
}

.card-filtre:hover {
    background-color: #0065FC;
    color: white;
    border: none;
}

.icon-rounded-familial {
    padding: 18px 22px;
    background-color: #DEEBFF;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
    color: #0065FC;
}

.icon-rounded-heart {
    padding: 18px 20px;
    background-color: #DEEBFF;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
    color: #0065FC;
}

.icon-rounded-dog {
    padding: 18px 20px;
    background-color: #DEEBFF;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
    color: #0065FC;
}

.filtre-margin-right {
    margin-right: 32px;
    margin-top: 32px;
}

.custom-icons {
    border-radius: 50%;
    background-color: #F2F2F2;
}

.icon-info {
    padding: 5px 10px;
    border-radius: 50%;
    border: #F2F2F2 solid 2px;
    margin-right: 5px;
    color: #0065FC;
}

.margin-info {
    margin-top: 20px;
    margin-bottom: 20px;
}