.search h2 {
    margin-bottom: 0px;
    margin-top: 40px;
}

.search p {
    margin-top: 6px;
}

.custom-form {
    display: flex;
}

.custom-map {
    background-color: #F2F2F2;
    padding: 18px;
    border-radius: 16px 0px 0px 16px;
    font-size: 18px;
}

.button {
    background-color: #0065FC;
    border: none;
    color: white;
    font-weight: bold;
    padding: 16px 24px;
    border-radius: 0px 16px 16px 0px;
}

button {
    display: none;
}

input {
    padding: 16px 32px;
    border: #F2F2F2 solid 1px;
    border-right: none;
    font-size: 18px;
}
