.card-generale {
    display: grid;
    grid-template-columns: 67% 33%;
}

.card-grise-hebergement {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding-bottom: 16px;
    max-height: 100%;
}

.card-grise-hebergement h2 {
    padding-top: 51px;
    padding-left: 38px;
}

.padding-p {
    padding-left: 38px;
    padding-bottom: 16px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
    flex-grow: 1;
}

.card-hebergement {
    background-color: white;
    width: 247px;
    height: 197px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
    border-radius: 15px;
    border: white solid 4px;
    margin: 16px;
}

.card-hebergement h4 {
    margin-bottom: 4px;
}

.card-hebergement p {
    font-size: 14px;
    margin-bottom: 6px;
}

.card-hebergement i {
    color: #0065FC;
}

.card-hebergement-img {
    width: 100%;
    height: 118px;
    object-fit: cover; 
    border-radius: 15px 15px 0px 0px;
}

.card-grise-populaire {
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-left: 30px;
    max-height: 100%;
}

.card-grise-populaire h2 {
    padding-top: 51px;
    padding-left: 38px;
    padding-right: 38px;
}

.titre-populaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-populaire {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
    border: white solid 4px;
    border-radius: 15px;
    margin: 16px;
}

.card-flex {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.card-populaire h4 {
    margin-bottom: 2px;
    margin-left: 16px;
}

.card-populaire p {
    font-size: 14px;
    margin-bottom: 6px;
    margin-left: 16px;
}

#start-end {
    margin-top: 40px;
    color:#0065FC;
}

.card-populaire-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px 0px 0px 15px;
}