.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-navbar {
    list-style: none;
}

.links-navbar li {
    display: inline-block;
    padding: 30px;
    background-color: white;
}

.links-navbar li:hover {
    border-top: #0065FC solid 1px;
}

.logo-reservia {
    width: 97px;
    height: 45px;
    padding: 0px 30px;
}

.dark-blue {
    color: #0065FC;
}

.bold {
    font-weight: bold;
}

.no-margin {
    margin: 0px;
}