.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.reverse-inscrire {
    order: 2;
}

.links-padding {
    padding: 30px;
    background-color: white;
}

.links-padding:hover {
    border-top: #0065FC solid 1px;
}

.flex-activite-hebergement {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
}

.logo-reservia {
    width: 97px;
    height: 45px;
    padding: 0px 30px;
}

.dark-blue {
    color: #0065FC;
}