.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 30px;
}

.links-navbar {
    display: flex;   
}

.links-padding {
    padding: 30px;
    background-color: white;
}

.links-padding:hover {
    border-top: #0065FC solid 1px;
}

.margin-left-links {
    margin-left: 16px;
}

.logo-reservia {
    width: 97px;
    height: 45px;
    padding: 0px 30px;
}

.dark-blue {
    color: #0065FC;
}