/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/* components */
@import "components/navbar.css";
@import "components/form.css";
@import "components/filtres.css";
@import "components/cards-section.css";
@import "components/footer.css";
@import "components/defaults.css";

/* RESOLUTION XLARGE */

@media screen and (max-width: 1324px) {

    .card-grise-populaire {
        margin-top: 30px;
        padding-bottom: 62px;
        width: 70%;
    }

    .titre-activites {
        margin-left: 185px;
    }

    .grandes-cards-activites {
        margin-top: 26px;
    }

    .petites-cards-activites {
        margin-top: 26px;
    }

    .margin-top-longchamps {
        margin-top: 29px;
    }


}

/* RESOLUTION TABLETTE */

@media screen and (min-width: 768px) and (max-width: 1023px) 
{
    /* NAVBAR */

    .navbar {
        justify-content: space-between;
        position: static;
    }

    .link-padding-inscrire {
        position: static;
    }

    .flex-activite-hebergement {
        position: static;
    }

    /* FILTRES */

    .filtre-margin-right {
        align-items: center;
    }

    .card-filtre {
        align-items: center;
    }

    /* CARDS HEBERGEMENTS */

    .card-grise-hebergement {
        width: 100%;
        border-radius: 0px;
    }

    .cards-hebergement {
        justify-content: space-around;
    }

    .card-hebergement {
        width: 42%;
    }

    /* CARDS POPULAIRES */

    .card-grise-populaire {
        margin-top: 30px;
        padding-bottom: 62px;
        width: 100%;
        border-radius: 0px;
    }

    .cards-populaire {
        justify-content: space-between;
    }

    .card-populaire {
        width: 100%;
    }

    .titre-populaire {
        justify-content: space-between;
    }

    /* CARDS ACTIVITES */

    .cards-activites-generale {
        width: 100%;
    }

    .titre-activites {
        margin-left: 30px;
    }

    .cards-activites-flex {
        display: block;
        width: 100%;
    }

    .grandes-cards-activites {
        margin-bottom: 26px;
        margin-top: 26px;
        width: 100%;
        border-radius: 0px;
    }

    .grandes-cards-activites img {
        border-radius: 0px;
    }

    .flex-activite-tablette {
        display: flex;
    }

    .petites-cards-activites {
        width: 100%;
        margin-left: 0px;
        border-radius: 0px;
    }

    .petites-cards-activites img {
        border-radius: 0px;
    }

    .margin-activite {
        margin-left: 0px;
        margin-right: 0px;
    }

    .margin-top-longchamps {
        margin-top: 26px;
        margin-left: 16px;
    }

    #card-pomegues {
        width: 100%;
        height: 192px;
        margin-right: 16px;
        border-radius: 0px;
    }
    
    #card-pomegues img {
        width: 100%;
        height: 133px;
        border-radius: 0px;
    }
    
    #card-frioul {
        width: 100%;
        height: 192px;
        margin-top: 26px;
        border-radius: 0px;
    }
    
    #card-frioul img {
        width: 100%;
        height: 133px;
        border-radius: 0px;
    }


    /* FOOTER */

    .margin-footer {
        margin-right: 166px;
    }
}

/* RESOLUTION MOBILE */

@media screen and (min-width: 320px) and (max-width: 767px)
{ 
    /* NAVBAR */

    .margin-reservia {
        margin-left: 20px;
    }

    .links-padding {
        padding: 30px;
        background-color: white;
        width: 50%;
        text-align: center;
    }

    .link-padding-inscrire {
        padding: 30px;
        background-color: white;
        position: static;
    }

    .link-padding-inscrire:hover {
        border-bottom: #0065FC solid 3px;
        border-top: none;
    }

    .links-padding:hover {
        border-bottom: #0065FC solid 3px;
        border-top: none;
    }

    .reverse-inscrire {
        order: 0;
    }

    .flex-activite-hebergement {
        display: flex;
        position: static;
    }

    .navbar {
        justify-content: space-between;
    }

    .flex-activite-hebergement {
        justify-content: center;
        width: 100%;
    }

    /* SEARCH */

    .search {
        margin-left: 20px;
    }

    /* FORM */

    .button-fontawesome {
        display: flex;
        background-color: #0065FC;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 19px 20px;
        border-radius: 16px 16px 16px 16px;
    }

    .input-mobile {
        padding: 16px 14px; 
    }

    .position-button {
        position: absolute;
        right: 20px;
    }

    .button {
        display: none;
    }

    /* FILTRES */

    .card-filtre-mobile {
        margin-top: 16px;
    }

    .display-block-filtre {
        display: block;
    }

    .display-flex-filtre {
        display: flex;
        flex-wrap: wrap;
    }

    .margin-info {
        margin-left: 0px;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    /* CARDS HEBERGEMENTS ET MOBILES */

    .card-generale {
        flex-direction: column-reverse;
        margin: 0px auto;
    }

    /* CARDS HEBERGEMENTS */

    .card-grise-hebergement {
        margin: 0px auto;
        width: 100%;
        border-radius: 0px;
        background-color: white;
        padding: 0px;
        margin: 0px;
    }

    .card-hebergement {
        width: 100%;
        margin-top: 4px;
    }

    .padding-p {
        padding-left: 16px;
    }

     /* CARDS POPULAIRES */

    .card-grise-populaire {
        margin: 0px auto;
        width: 100%;
        border-radius: 0px;
        margin: 0px;
        padding: 0px;
        padding-bottom: 32px;
    }

    .titre-populaire {
        margin: 0px;
    }

    .card-grise-populaire i {
        right: -156px;
        margin-top: 4px;
    }

    .card-populaire {
        width: 100%;
    }

    /* CARDS ACTIVITES */

    .cards-activites-flex {
        width: 100%;
    }

    .cards-activites-generale {
        margin-left: 16px;
        margin-right: 16px;
    }

    .flex-activite-tablette {
        width: 100%;
    }

    .titre-activites {
        margin-left: 20px;
    }

    .margin-activite {
        margin-left: 16px;
    }

    .titre-activites {
        margin-top: 16px;
    }

    .grandes-cards-activites {
        width: 100%;
        height: 192px;
        margin-bottom: 22px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .petites-cards-activites {
        width: 100%;
        height: 192px;
        margin-bottom: 22px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .petites-cards-activites img {
        width: 100%;
        height: 133px;
    }

    .grandes-cards-activites img {
        width: 100%;
        height: 133px;
    }

    #card-pomegues {
        width: 100%;
        height: 192px;
        margin-bottom: 22px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    #card-pomegues img {
        width: 100%;
        height: 133px;
    }
    
    #card-frioul {
        max-width: 100%;
        height: 192px;
        margin-bottom: 22px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    #card-frioul img {
        width: 100%;
        height: 133px;
    }

    /* FOOTER */

    .margin-footer {
        margin-right: 0px;
    }
}